.home {
    background-color: #F2D7D9;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;

    font-size: calc(5px + 2vmin);
  }

  .bttn{
    display: flex;
    position: relative;
    top: 35vh;
  }
  .head{
    display: flex;
    position: relative;
    top: 25vh;
  }